@(
        events: Seq[models.Tables.EventRow],
        companies: Seq[models.Tables.CompanyRow],
        types: Seq[models.Tables.TypeRow]
)

@main("イベント一覧") {
    <div>
        <a href="@routes.EventController.edit()" role="button" class="btn btn-success">新規作成</a>
    </div>

    <div class="col-xs-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>会社名</th>
                    <th>種類</th>
                    <th>詳細</th>
                    <th>期日</th>
                    <th>準備</th>
                    <th>履歴書</th>
                    <th>ES</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            @events.map { event =>
                <tr>
                    <td>
                        <a href="@routes.EventController.edit(Some(event.eventid))">
                            @event.eventid
                        </a>
                    </td>
                    <td>
                        @(companies.find(_.companyid == event.companyid)
                        .map(_.companyname).getOrElse("unknown"))
                    </td>
                    <td>
                        @(types.find(_.typeid == event.typeid)
                        .map(_.typename).getOrElse("unknown"))
                    </td>
                    <td>@event.description</td>
                    <td>@event.duedate</td>
                    <td>@(if(event.ready) "準備完了！" else "準備中！")</td>
                    <td>@(if(event.redume) "必要" else "不要")</td>
                    <td>@(if(event.es) "必要" else "不要")</td>
                    <td>@helper.form(routes.EventController.remove(event.eventid)){
                        <input type="submit" class="btn btn-xs btn-danger" value="削除">
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}